<h1>ID: <%= bookinstance._id %></h1>
<p><strong>Title: <a href="<%= bookinstance.book.url %>"><%= bookinstance.book.title %></a></strong></p>
<p><strong>Imprint: <%= bookinstance.imprint %></strong></p>
<p><strong>Status:</strong>
<% if(bookinstance.status == 'Available'){ %>
  <span class="text-success"><%= bookinstance.status %></span>
<% }else if(bookinstance.status == 'Maintenacne'){ %>
  <span class="text-danger"><%= bookinstance.status %></span>
<% }else{ %>
  <span class="text-warning"><%= bookinstance.status %></span>
<% } %>
<% if(bookinstance.status != 'Available'){ %>
  <p><strong>Due back: </strong><%= bookinstance.due_back_formatted %></p>
<% } %>
