<h1><%= title %></h1>
<ul>
  <% if(bookinstance_list.count == 0){ %>
    <li>There are no book copies in this library.</li>
  <% }else{ %>
    <% bookinstance_list.forEach(function(bookinstance){ %>
      <li>
        <a href="<%= bookinstance.url %>">
          <%= bookinstance.book.title %> : <%= bookinstance.imprint %>
        </a>
        -
        <% if(bookinstance.status == 'Available'){ %>
          <span class="text-success"><%= bookinstance.status %></span>
        <% }else if(bookinstance.status == 'Maintenacne'){ %>
          <span class="text-danger"><%= bookinstance.status %></span>
        <% }else{ %>
          <span class="text-warning"><%= bookinstance.status %></span>
        <% } %>
        <% if(bookinstance.status != 'Available'){ %>
          <span>(Due: <%= bookinstance.due_back %>)</span>
        <% } %>
      </li>
    <% }); %>
  <% } %>
</ul>
